.prose pre:not(.shiki) {
  padding: 0;
}

.prose .shiki {
  font-family: 'DM Mono', monospace;
  font-size: 1.2em;
  line-height: 1.4;
}

.prose img {
  width: 100%;
}

.shiki,
.shiki span {
  color: var(--shiki-light);
  background: var(--shiki-light-bg);
}

html.dark .shiki,
html.dark .shiki span {
  color: var(--shiki-dark);
  background: var(--shiki-dark-bg);
}

/* The CSS codes here were taken from unocss to preserve the design of Vitesse. */
.prose {
  max-width: 65ch;
}

.prose :where(a):not(:where(.not-prose, .not-prose *)) {
  text-decoration: underline;
  font-weight: 500;
}

.prose :where(h1, h2, h3, h4, h5, h6):not(:where(.not-prose, .not-prose *)) {
  font-weight: 600;
  line-height: 1.25;
}

.prose :where(h3):not(:where(.not-prose, .not-prose *)) {
  margin: 0.5em 0 0.5em;
  font-size: 1.375em;
}

.prose :where(pre):not(:where(.not-prose, .not-prose *)) {
  padding: 1.25rem 1.5rem;
  overflow-x: auto;
  border-radius: 0.375rem;
}
